.cmp-navigation__group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background: #e0dee6;
}

.cmp-navigation__item {
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.cmp-navigation__group .cmp-navigation__group {
    display: none;
    position: absolute;
    background-color: e0dee6;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cmp-navigation__item:hover .cmp-navigation__group {
    display: block;
}

.cmp-navigation__item:hover {
    background-color: white;
}